@charset "UTF-8";
@font-face{
    font-family: 'android';
    src: url('../pacote-projeto-d010/fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063dle
*/
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3:#2fa866;
    --cor4:#1a5c37;
    --cor5:#063d1e;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --fonte-android: 'android', cursive;

}
body{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    min-height: 150px;
    
}
a.externo::after{
    content: '\1F517';
}
p{
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1;
}

header{
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor5));
    font-family: var(--fonte-destaque);
    padding-top: 40px;
    min-height: 150px;
    padding-bottom: 20px;
    text-align: center;
    
    
}
header>p{
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295);


}
header>h1{
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.301);

}
nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
    padding: 10px;
    
}
nav>a{
color: var(--cor0);
padding: 10px;
text-decoration: none;
font-weight: bold;
transition: 0.5s;
border-radius: 5px;
}
nav>a:hover{
    background-color: var(--cor2);
    color: var(--cor4);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.644);
    margin-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
    text-align: justify;
}
main h1{
    color: var(--cor5);
    font-family: var(--fonte-android);
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor4);
   font-size: 1.8;
   font-weight: normal;
   background-image: linear-gradient(to right, var(--cor1), transparent);
   text-indent: 8px;
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main strong{
    color: var(--cor4);
    font-weight: bold;
    padding: 2px 6px;
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 6px;
}
main a:hover{
    color: var(--cor4);
    text-decoration: underline;
}
div.video{
    position: relative;
    background-color: var(--cor4);
    height: 0px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 15px;
    padding-bottom: 59%;
}
.video>iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.562);
}
aside h3{
    background-color: var(--cor5);
    color: white;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
list-style-position: inside;
columns: 2;
list-style-type: '\2705\00a0\00a0';
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8;
   
}
footer>p>a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}
